@inject NavigationManager NavigationManager

<h3>@Message</h3>

@code {
    [Parameter] public string RedirectToPage { get; set; } = "/sair";

    [Parameter] public string Message { get; set; } = "";

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo(RedirectToPage);
    }

}