<div class="d-flex justify-center pb-8 pt-2">
    <img src="/imgs/RDS-01.jpg" alt="RDS - Soluções em software" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Início</MudNavLink>
    <MudNavLink Href="/usuarios/editar">Meu Cadastro</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/usuarios">Usuários</MudNavLink>
    <MudNavLink Href="/finger">Finger Print</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
    <!--<MudNavLink Href="/dashboard">Dashboard</MudNavLink>-->
</MudNavMenu>