<MudPaper Class="pa-2">
    <div class="d-flex">
        @if (!Button1IsNotVisible)
        {
            <MudButton ButtonType="ButtonType.Button"
                       Variant="Variant.Filled"
                       Color="Color.Secondary"
                       Disabled="Button1Disable"
                       OnClick="@(() => NavigationService.NavigateTo(CancelOrBackPage))">
                @Button1Text
            </MudButton>
        }
        <MudSpacer/>
        @if (!Button2IsNotVisible)
        {
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="Button2Disable">
                @Button2Text
            </MudButton>
        }
    </div>
</MudPaper>

@code {
    [Parameter] public string CancelOrBackPage { get; set; } = "/";
    [Parameter] public string Button1Text { get; set; } = "Cancelar";
    [Parameter] public string Button2Text { get; set; } = "Salvar";
    [Parameter] public bool Button1IsNotVisible { get; set; }
    [Parameter] public bool Button2IsNotVisible { get; set; }
    [Parameter] public bool Button1Disable { get; set; }
    [Parameter] public bool Button2Disable { get; set; }
}