<MudPaper Class="pa-2">
    <div class="d-flex">
        <MudButton ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   Color="Color.Secondary"
                   OnClick="@(() => NavigationService.NavigateTo(CancelPage))">
            @ButtonText1
        </MudButton>
        <MudSpacer />
        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            @ButtonText2
        </MudButton>
    </div>
</MudPaper>
@code {
    [Parameter] public string CancelPage { get; set; } = "/";
    [Parameter] public string ButtonText1 { get; set; } = "Cancelar";
    [Parameter] public string ButtonText2 { get; set; } = "Salvar";
}