@page "/finger"
@inject DeviceService DeviceService

<h3>Finger Print From Device</h3>

<p>@_fingerprint</p>

@code {
    private string? _fingerprint;

    protected override async Task OnInitializedAsync()
    {
        _fingerprint = await DeviceService.GetDeviceFingerprint();
        if (string.IsNullOrEmpty(_fingerprint))
        {
            _fingerprint = "Failed to retrieve fingerprint";
        }
    }
}