@page "/finger"
@inject DeviceService DeviceService

<h3>Finger Print From Device</h3>

<p>@_fingerprint</p>

@code {
    private long LoggedUserId { get; set; }
    protected bool IsAdmin { get; set; }
    private string? _fingerprint;

    protected override async Task OnInitializedAsync()
    {
        await StartService.ValidateAccesByTokenAsync();
        await StartService.ValidateAccesByTokenAsync();
        LoggedUserId = StartService.GetLoggedUserId();
        IsAdmin = await StartService.IsAdminInRolesAsync(LoggedUserId);
        if (!IsAdmin)
        {
            await NavigationService.NavigateToAccessNotAllowedAsync();
            return;
        }
        _fingerprint = await DeviceService.GetDeviceFingerprint();
        if (string.IsNullOrEmpty(_fingerprint))
        {
            _fingerprint = "Failed to retrieve fingerprint";
        }
    }
}