<MudPaper Class="pr-8 pl-8 pt-2 pb-2 mt-2 bg-drawer">
    <div class="d-flex">
        <MudSpacer/>
        <mudtext Class="ml-4 responsive-text title-screen">@Title</mudtext>
        <MudSpacer/>
    </div>
    @if (!string.IsNullOrEmpty(SubTitle))
    {
        <div class="d-flex">
            <MudSpacer/>
            <mudtext Class="ml-4 responsive-text subtitle-screen">@SubTitle</mudtext>

            <MudSpacer/>
        </div>
    }
</MudPaper>

@code {

    [Parameter] public string Title { get; set; } = StartService.GetPageTitle();
    [Parameter] public string SubTitle { get; set; } = "";
}